<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="it.poggi.companion_device_manager">
    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false" />

    <application>
        <service
            android:name=".CompanionDeviceBackgroundService"
            android:exported="false"
            android:permission="android.permission.BIND_COMPANION_DEVICE_SERVICE">
            <intent-filter>
                <action android:name="android.companion.CompanionDeviceService" />
            </intent-filter>
        </service>
    </application>
</manifest>
